@{
    ViewBag.Title = "Acerca de";
}


<style>
    .acercaDe {
        background: rgb(213,206,88);
        background: radial-gradient(circle, rgba(213,206,88,1) 0%, rgba(74,114,18,1) 35%, rgba(113,159,30,1) 94%);
    }
</style>

<main>

    <section>



        <div class="container-fluid mb-5">
            <div class="row">

                <div class="card">
                    <h3 class="card-header acercaDe"><center>Acerca de Gardening</center></h3>
                    <div class="card-body">
                        <center>
                            <h1><strong>Bienvenido a gardering</strong></h1>
                            <img src="~/Content/Imagenes/Home/Index/loginGardening.jpg" class="img-fluid" height="100px" width="200px" />
                            <h1 class="lead row" style="font-size: 25px">


                                <div class="col-4">

                                    <div class="card">
                                        <h3 class="card-header"> Nosotros </h3>
                                        <div class="card-body">

                                            <br />

                                            <p class="text-justify">
                                                Después de varios años de obras en jardinería tradicional, poco a poco, fueron reconvirtiendo su actividad hacia la jardinería.

                                                <br /><br />

                                                Gardening es una plataforma de e-commerce comprometida con la conservación del medio ambiente, tenemos la voluntad de participar en la creación y divulgación de la cultura de la jardinería vertical y las cubiertas verdes.
                                                <br /><br />


                                                La integración de la vegetación en el hogar es un deseo que busca transformar los paisajes  urbanos y hacerlos más agradables y habitables.
                                                <br /><br />



                                                Somos jardineros y trabajadores verticales oficialmente acreditados y eso nos convierte en una empresa cualificada, especializada y resolutiva para sus proyectos de jardinería vertical.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">

                                    <div class="card">
                                        <h3 class="card-header">¿Cómo lo hacemos?</h3>
                                        <div class="card-body">

                                            <br />

                                            <p class="text-justify">
                                                Colaboramos con otras jardinerías y organismos para asesorar y formar a sus trabajadores y de esta forma poder extender la cultura y la aplicación de la jardinería.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-4">

                                    <div class="card">
                                        <h3 class="card-header">¿Cómo lo hacemos?</h3>
                                        <div class="card-body">

                                            <br />

                                            <p class="text-justify">
                                                Gardening es una empresa que cree y ama lo que hace y tenemos la voluntad  de participar en la creación y divulgación de la cultura de la jardinería.

                                                <br /><br />

                                                La integración de la vegetación en el hogar no es sólo una orientación profesional sino que también desea transformar sus paisajes urbanos y hacerlos más agradables y habitables.


                                                <br /><br />


                                                La instalación de estos jardines en las ciudades no solo tiene beneficios estéticos, estos jardines también tienen beneficios para el medio ambiente y para la salud de las personas y de su entorno y es algo que nos hace sentir especialmente orgullosos de nuestra profesión.


                                                <br /><br />


                                                En Babilon unimos esfuerzos para trabajar no sólo con el desarrollo técnico de nuestros jardines sino también en la generación y divulgación de esta nueva cultura.
                                            </p>
                                        </div>
                                    </div>
                                </div>




                            </h1>
                        </center>
                    </div>
                    <div class="card-footer">


                        <div class="blockquote-footer mt-5">
                            Colaboradores:

                            <ul>
                                <li>Alex Gómez García</li>
                                <li>Uriel Enrique Hernández Gonzálezs</li>
                                <li>Eduardo Jiménez Apodaca</li>
                                <li>Cristhian Rivera Rodriguez</li>
                                <li>Carlos Jesús Serrano Vences</li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
