
.table th, .table td {
    padding: 0.75rem !important;
    vertical-align: baseline !important;
    border-top: 1px solid #dee2e6 !important;
}

thead {
    background-color: var(--color-principal) !important;
    color: white;
}
